{% extends 'base/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shopping_list.css' %}">
{% endblock %}
{% block title %}
    MY SHOPPING LIST
{% endblock %}
{% block content %}
    <div class="container-fluid" id="wrapper">
        <form class="form-inline my-2 my-lg-0" method="GET">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search your list."
                   value="{{ request.GET.q }}" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4" id="content">
                <h2 id="h2-title">YOUR SHOPPING LIST</h2>

                <form id="new_product_form">{% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            {{ form.name }}
                            <button type="submit" class="btn btn-default">Write!</button>

                        </div>
                    </div>
                </form>

                <div class="row t10">
                    <div class="col-lg-12">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a href="{% url 'deletecomplete' %}">
                                    <button type="button" class="btn btn-warning">
                                        <i class="glyphicon glyphicon-trash"></i> DELETE CHECKED
                                    </button>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'deleteall' %}">
                                    <button type="button" class="btn btn-warning">
                                        <i class="glyphicon glyphicon-trash"></i> DELETE ALL
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="list-group t20">
                    <div id="product-container">

                    </div>
                </ul>
            </div>
        </div>
    </div>
    {% block script %}
        <script>

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
            
            
            $(document).ready(function () {

                var query = getParameterByName('q');
                var productList = [];


                function attachProduct(productValue, prepend) {
                    var productName = productValue.name;
                    var productFormattedHtml = "<li>" + productName + "</li>";
                    if (prepend == true) {
                        $("#product-container").prepend(productFormattedHtml)

                    } else {
                        $("#product-container").append(productFormattedHtml)

                    }

                }


                function parseProduct() {
                    
                    $.each(productList, function (key, value) {
                        var productKey = key;
                        attachProduct(value)
                    })
                }

                function fetchProducts() {
                    console.log('Fetching...');
                    $.ajax({
                    method: "GET",
                        url: "/api/list/",
                        data: {
                            "q": query
                        },
                    success: function (data) {
                        productList = data;
                        parseProduct();
                    }
                    });
                }

                fetchProducts();

                $('#new_product_form').submit(function (event) {
                    event.preventDefault();

                    var this_ = $(this);
                    //console.log(event);
                    var formData = this_.serialize();

                    $.ajax({
                        method: "POST",
                        url: "/api/create/",
                        data: formData,

                        success: function (data) {
                            attachProduct(data)
                        }
                    });
                })


            });
        </script>

    {% endblock %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% endblock %}